:root {
  --light: #ffffff;
  --dark: #000000;
  --past: #d3d3d3;
  --present: #ff6961;
  --future: #77dd77;
  --button: #06aed5;
  --button-light:#49C2DD;
}


body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--dark);
  border-left: 1px solid var(--dark);
  padding: 0.6rem;
}

.custom-jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--dark);
  border-radius: 0;
  border-bottom: 0.6rem solid var(--dark);
  padding-bottom: 1rem;
}

.custom-container {
  padding-bottom: 2rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 1rem;
}

.row {
  white-space: pre-wrap;
  height: 5rem;
  border-top: 1px solid var(--light);
}

.hour {
  background-color: var(--light);
  font-weight: bold;
  color: var(--dark);
  padding-top: 0.6rem;
  border-top: 1px solid var(--dark);
}

.past {
  background-color: var(--past);
  color: var(--light);
}

.present {
  background-color: var(--present);
  color: var(--light);
}

.future {
  background-color: var(--future);
  color: var(--light);
}

.saveBtn {
  border-top: 2px solid #49C2DD;
  border-right: 2px solid #49C2DD;
  border-bottom: 2px solid #49C2DD;
  border-left: 2px solid var(--light);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 0;
  background-color: #06aed5;
  color: var(--light);
}

.saveBtn i:hover {
  font-size: 2.4rem;
  transition: all 0.3s ease-in-out;
}

.saveBtn:hover {
  background-color: #49C2DD;
  border: 2px solid var(--light);
}

.row {
  height: auto;
}

@media screen and (max-width: 576px) {
  h1.custom-display-3 {
    font-size: 2.4rem;
  }

  .custom-container {
    max-width: 90%;
  }

  .custom-col-2 {
    padding-left: 4px;
  }

  .hour {
    font-size: 0.8rem;
  }

  .custom-fa-2x {
    font-size: 0.8rem;
    text-align: left;
  }
}
